.header__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.menu__link {
    color: rgb(59, 2, 2);
    text-decoration: none;
}
.button {
    color: rgb(59, 2, 2);
    background-color: rgb(246, 252, 252);
}