job__list {
    margin-top: 30px; /*ставим в 30 пикселей отступ cверху*/
    display: flex; /* Используем flexbox для выравнивания карточек в строку*/
    gap: 30px;  /*  промежуток в 30 px между элементами списка*/
    justify-content: space-evenly; /* Распредение элементов списка равномерно по горизонтали*/
}

.job__item {
    height: 300px; /*высота карточки*/
    display: flex; /* Используем flexbox для выравнивания карточек в строку*/
    flex-direction: column;  /* располагаем карточку в колонку*/
    justify-content: space-between; /*распределение карточек по вертикали,по всей высоте*/
    align-items: center; /*Центрируем элементы по горизонтали внутри карточки*/
    text-align: center; /*выравнивание текста по центру*/
}

.job__img {
    object-fit: contain; /*изображение вписывается в контейнер, сохраняя при этом его пропорции*/
    height: 200px; /*высота изображения*/
}
