.about__link {
    color: rgb(56, 32, 2);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}
.courses__link {
    color: rgb(56, 32, 2);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}
.prices__info {
    color: rgb(56, 32, 2);
    text-decoration: none;
}